extends layout

block content
  .container
    h1 Introduce un libro
    form(action='/books/save' method='post' enctype='multipart/form-data')
      label.form-label(for='nombre') Nombre libro
      input#nombre.form-control(type='text' name="nombre")
      label.form-label(for='descripcion') Descripcion
      input#descripcion.form-control(type='text' name="descripcion")
      label.form-label(for='editorial') Editorial
      input#editorial.form-control(type='text' name="editorial")
      label.form-label(for='archivo') Archivo a subir
      input#archivo.form-control(type='file' name='inputFilePdf' required accept="application/pdf")
      input.mt-3.btn.btn-primary(type='submit' value="Subir libro")

