extends layout

block content
  .container
    h1 Lista de libros

    form(name='formulario-subida' action='upload' method='post' enctype='multipart/form-data')
        input(type='file' name='archivo')
        hr
        input(type='submit' value="Enviar archivo")
