extends layout

block content
  .container
    h1 ERROR
    h2(style="background-color: red; color: white; padding:5px; border-radius:10px; text-align:center;")=mensaje
    a(href="/") Volver al inicio